{% extends "templates/web.html" %}
{% set full_width=1 %}
{% set title = heading or "SKAMC Badami" %}

{% block page_content %}
<div id="preloader">
    <div class="pulse"></div>
</div><!-- Pulse Preloader -->

<div class="container margin_60">

    <div class="main_title">
        <h2>Information for CCIM</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordion">
                {% if ccim_info %} {% for info in ccim_info %}
                <div class="card">
                    <div class="card-header" id="heading-{{loop.index}}">
                        <a class="card-link" data-toggle="collapse" data-target="#collapse-{{loop.index}}"
                            aria-expanded="true" aria-controls="collapse-{{loop.index}}" data-parent="#accordion">
                            {{ info }}<i class="indicator icon_plus_alt2 pull-right"></i>
                        </a>
                    </div>

                    <div id="collapse-{{loop.index}}" class="collapse" aria-labelledby="heading-{{loop.index}}">
                        <div class="card-body">
                            <table>
                                <tbody>
                                    {% for info_list in ccim_info[info] %}
                                    <tr>
                                        <td>
                                            <a href="{{ info_list['info_document'] }}" target='_blank'>
                                                {{info_list['name'] }}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}